<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" dir="ltr">
    <head>
        <title>Mace Windu</title>
        <meta charset="UTF-8">
        <meta name="description" content="A grim Jedi Master with an amethyst-bladed lightsaber, Mace Windu was the champion of the Jedi Order, with little tolerance for the failings of the Senate, the arguments of politicians, or the opinions of rebellious Jedi.">
        <meta name="keywords" content="Mace,Windu,Jedi,Master,Lightsaber">
        <meta name="author" content="Mace Windu">
        <meta property="fb:app_id" content="">
        <meta property="og:description" content="A grim Jedi Master with an amethyst-bladed lightsaber, Mace Windu was the champion of the Jedi Order, with little tolerance for the failings of the Senate, the arguments of politicians, or the opinions of rebellious Jedi.">
        <meta property="og:image" content="https://macewindu.herokuapp.com/static/images/macewindu.jpg">
        <meta property="og:image:alt" content="Mace Windu champion of the Jedi Order">
        <meta property="og:site_name" content="Mace Windu">
        <meta property="og:title" content="Mace Windu champion of the Jedi Order">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://macewindu.herokuapp.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
  <body>
    <h1>Mace Windu</h1>
    <img alt="Mace Windu" src="/static/images/macewindu.jpg">
    <div>
        {{ .results }}
    </div>
  </body>
</html>
